<!-- start: Content -->
<div id="content">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Clients</h3>
                <p class="animated fadeInDown">
                    Administration <span class="fa-angle-right fa"></span> Clients
                </p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">

            <div class="col-md-12">
                <div style="padding-left: 15px;">
                    <input type="text" style="width:200px;" ng-model="new_client_code" placeholder="Client Code" />
                    <input type="text" style="width:400px;" ng-model="new_client" placeholder="New Client" /> 
                    <input type="button" class="btn btn-primary" value="ADD" ng-click="add_client()" ng-disabled="!new_client || !new_client_code" />
                </div>
                
                <div style="height: 10px;"></div>

                <div>
                    <div>
                        <div class="col-sm-7" style="margin-bottom:40px;">
                            
                        </div>
                        <div class="col-sm-2" style="margin-bottom:40px;">
                            <select class="form-control input-sm" ng-model="table_status" ng-change="table_status_changed()">
                                <option value="Enabled">Enabled</option>
                                <option value="Disabled">Disabled</option>
                            </select>
                        </div>
                        <div class="col-sm-2" style="margin-bottom:40px; text-align:right;">
                            <input aria-controls="dataTables-example" type="text" style="height: 30px;" placeholder="Search..." ng-model="table_search" ng-change="table_search_changed()" />
                        </div>
                        <div class="col-sm-1">
                            <select aria-controls="dataTables-example" class="form-control input-sm" ng-model="pagination.pageSize" ng-change="get_clients()">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25" data-ng-if="pagination.total >= 25">25</option>
                                <option value="50" data-ng-if="pagination.total >= 50">50</option>
                                <option value="100" data-ng-if="pagination.total >= 100">100</option>
                            </select>
                        </div>
                        <div class="col-sm-12" style="margin-top: -35px;">
                            <table datatable="ng" class="row-border hover report table table-striped table-bordered" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th style="width: 15px;">#</th>
                                        <th>Code</th>
                                        <th>Client</th>
                                        <th style="width:205px;">Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="clients.status" ng-repeat="(k, v) in clients.data" ng-click="edit_applicant(k)">
                                        <td>{{ k + 1 }}</td>
                                        <td>{{v.code}}</td>
                                        <td>{{v.client}}</td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    ACTION
                                                    <span class="fa fa-angle-down"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a style="cursor:pointer;" ng-click="EDIT(k)">Edit</a></li>
                                                    <li><a style="cursor:pointer;" ng-click="DELETE(k)">Disable</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="!clients.status">
                                        <td colspan="4" style="text-align: center;">
                                            No data available
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" style="text-align:right;">
                    <paging
                        class="small"
                        page="pagination.currentPage" 
                        page-size="pagination.pageSize" 
                        total="pagination.total"
                        adjacent="{{pagination.adjacent}}"
                        dots="{{pagination.dots}}"
                        scroll-top="{{pagination.scrollTop}}" 
                        hide-if-empty="{{pagination.hideIfEmpty}}"
                        ul-class="{{pagination.ulClass}}"
                        active-class="{{pagination.activeClass}}"
                        disabled-class="{{pagination.disabledClass}}"
                        show-prev-next="{{pagination.showPrevNext}}"
                        paging-action="paging_action('Paging Clicked', page, pageSize, total)">
                    </paging>
                </div>
            </div>

            <!-- LOGS -->

            <div class="col-sm-5">
                <h3>Logs</h3>
                <table datatable="ng" class="row-border hover report table table-striped table-bordered" cellspacing="0">`
                    <tbody>
                        <tr ng-if="logs.status" ng-repeat="(k, v) in logs.data">
                            <td>
                                <div>
                                    {{v.details}}
                                </div>
                                <div style="color:#2196f3; font-size:10px; margin-top:5px;">
                                    {{v.name}} {{v.date_created}}
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="!logs.status">
                            <td colspan="2" style="text-align: center;">
                                No data available
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="logs.status && more">
                        <tr>
                            <td><a style="cursor:pointer;" ng-click="more_logs(5)">more...</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        
    </div>
</div>
<!-- end: content -->

<script type="text/ng-template" id="EditModal">
    <div class="ngdialog-message">
        <div style="margin-top: -15px;">
            <h3><span style="color:#0c79be;">{{ modal.title }}</span></h3>
        </div>
        <div>
            <table class="table table-striped table-bordered">
                <tr>
                    <td>Client Code: </td>
                    <td>
                        <input type="text" ng-model="modal.code" style="width: 100%;"/>
                    </td>
                </tr>
                <tr>
                    <td>Client: </td>
                    <td>
                        <input type="text" ng-model="modal.client" style="width: 100%;"/>
                    </td>
                </tr>
                <tr>
                    <td>Remarks: </td>
                    <td>
                        <textarea ng-model="modal.remarks" cols="50" rows="10"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)">{{modal.close}}</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')">{{modal.save}}</button>
    </div>
</script>