<!-- start: Content -->
<div id="content">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Sources</h3>
                <p class="animated fadeInDown">
                    Administration <span class="fa-angle-right fa"></span> Sources
                </p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <div class="col-md-12">
                <table datatable="ng" class="row-border hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="person in showCase.persons">
                        <td>{{ person.id }}</td>
                        <td>{{ person.firstName }}</td>
                        <td>{{ person.lastName }}</td>
                    </tr>
                    </tbody>
                </table>                

            </div>
        </div>
    </div>
</div>
<!-- end: content -->