<style type="text/css">
.div-remarks a {
    cursor: pointer;
}
</style>

<!-- start: Content -->
<div id="content">
    <div class="col-md-12" style="padding:20px;">
        <div class="col-md-12 padding-0">
            <div class="panel box-shadow-none content-header">
                <div class="panel-body">
                    <div class="col-md-8">
                        <h3 class="animated fadeInLeft" style="font-weight:bold;">Requisition ID: {{ request.requisition_id }}</h3>
                        <p class="animated fadeInDown">
                            Home <span class="fa-angle-right fa"></span> 
                            Requisition <span class="fa-angle-right fa"></span> 
                            {{ request.requisition_id }}
                        </p>
                    </div>
                    <div style="text-align:right;">
                        <a href="#/request/list">
                            <button class=" btn btn-circle btn-outline btn-warning" value="primary" data-toggle="tooltip" data-placement="top" title="BACK">
                                <span class="fa fa-mail-reply"></span>
                            </button>
                        </a>                        
                    </div>
                </div>
            </div>
            <div class="col-md-8 padding-0">
                <div class="panel">
                    <div class="panel-body">
                        <table class="table table-striped table-bordered" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <textarea ng-model="post" cols="50" rows="5" class="form-control ng-pristine ng-touched input-boxes ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="Enter you remarks here"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align:right;">
                                        <input type="button" class="btn btn-sm btn-primary" value="Save Remarks" ng-click="save_remarks()" ng-disabled="!post">
                                    </td>
                                </tr>
                                <tr class="edit-form">
                                    <td class="col-md-3">Profile</td>
                                    <td class="col-md-5">
                                        <span ng-show="display.profile.text" >
                                            {{request.profile}}

                                            <span class="fa fa-pencil edit-button" style="margin-left:10px;" ng-click="edit_field('profile')" data-toggle="tooltip" data-placement="right" title="Edit"></span>
                                        </span>
                                        <span ng-show="display.profile.input">
                                            <div
                                                isteven-multi-select
                                                input-model="data.jobpositions"
                                                output-model="form.profile"
                                                button-label="icon name"
                                                item-label="icon name maker"
                                                tick-property="ticked"
                                                selection-mode="single"
                                                style="width:295px; float:left;"
                                                max-height="200px"
                                            >
                                            </div>

                                            <span class="fa fa-save save-button" style="margin-left:10px;" ng-click="save_edit_field('profile')" data-toggle="tooltip" data-placement="right" title="Save changes"></span>

                                            <span class="fa fa-mail-reply save-button" style="margin-left:10px;" ng-click="cancel_edit('profile')" data-toggle="tooltip" data-placement="right" title="Revert changes"></span>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="edit-form">
                                    <td class="col-md-3">How many are needed?</td>
                                    <td class="col-md-5">
                                        <span ng-show="display.needed.text" >
                                            {{request.needed}}

                                            <span class="fa fa-pencil edit-button" style="margin-left:10px;" ng-click="edit_field('needed')" data-toggle="tooltip" data-placement="right" title="Edit"></span>
                                        </span>
                                        <span ng-show="display.needed.input">
                                            <input type="text" ng-model="request.needed" style="width:50px;" maxlength="3" is-number />

                                            <span class="fa fa-save save-button" style="margin-left:10px;" ng-click="save_edit_field('needed')" data-toggle="tooltip" data-placement="right" title="Save changes"></span>

                                            <span class="fa fa-mail-reply save-button" style="margin-left:10px;" ng-click="cancel_edit('needed')" data-toggle="tooltip" data-placement="right" title="Revert changes"></span>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="edit-form">
                                    <td class="col-md-3">Target End Date</td>
                                    <td class="col-md-5">
                                        <span ng-show="display.end_date.text" >
                                            {{request.end_date}}

                                            <span class="fa fa-pencil edit-button" style="margin-left:10px;" ng-click="edit_field('end_date')" data-toggle="tooltip" data-placement="right" title="Edit"></span>
                                        </span>
                                        <span ng-show="display.end_date.input">
                                            <input id="formedit_end_date" type="text" ng-model="request.end_date" style="width:140px;" />

                                            <span class="fa fa-save save-button" style="margin-left:10px;" ng-click="save_edit_field('end_date')" data-toggle="tooltip" data-placement="right" title="Save changes"></span>

                                            <span class="fa fa-mail-reply save-button" style="margin-left:10px;" ng-click="cancel_edit('end_date')" data-toggle="tooltip" data-placement="right" title="Revert changes"></span>
                                        </span>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4 div-remarks">
                <div class="panel">
                    <div class="panel-body">
                        <h3 style="margin-top:-5px;">Logs:</h3>
                        <table class="table table-striped table-bordered" style="width:100%;">
                            <tr ng-repeat="(k,v) in remarks">
                                <td>
                                    <div>
                                        {{v.details}}
                                    </div>
                                    <div style="color:#2196f3; font-size:10px; margin-top:5px;">
                                        {{v.name}} {{v.date_created}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>
<!-- end: content -->

<script type="text/javascript">
    $(document).ready(function(){
        $('#summernote').summernote({
            height:400
        });
        
        $('#form_date_received').bootstrapMaterialDatePicker({ format : 'YYYY-MM-DD HH:mm', animation:true });
        $('#form_date_endorsed').bootstrapMaterialDatePicker({ format : 'YYYY-MM-DD', time : false, animation:true });
        $('#form_date_appointment').bootstrapMaterialDatePicker({ format : 'YYYY-MM-DD', time : false, animation:true });
        $('.dtp-close').hide();

        $('.mask-placeholder').mask("0000-00-00", {placeholder: "YYYY-MM-DD"});
        $('.mask-phone').mask('0000-000-0000');

        $("#form_source").select2({
            placeholder: "Select a Source",
            allowClear: false
        });

        $("#form_profiled_for").select2({
            placeholder: "Select a Job Position",
            allowClear: false
        });

        $("#form_client").select2({
            placeholder: "Select a Client",
            allowClear: false
        });

        $("#form_status").select2({
            placeholder: "Select a Status",
            allowClear: false
        });

        $("#form_talent_acquisition").select2({
            placeholder: "Select a Talent Acquisition",
            allowClear: false
        });

        $("#my-awesome-dropzone").dropzone({ url: "/file/post" });
    });
</script>
