<!-- start: Content -->
<div id="content">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">New Candidate</h3>
                <p class="animated fadeInDown">
                    Home <span class="fa-angle-right fa"></span>
                    Candidate <span class="fa-angle-right fa"></span> New
                </p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <div class="col-md-12">
                <div style="width: 70%; float: left;">
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td class="col-md-2">Date Received</td>
                                <td class="col-md-5">
                                    <div>
                                        <input id="form_date_received" type="text" maxlength="50" class="form-text" data-ng-model="form.date_received" ng-class="formerror.date_received" ng-change="clearerror('date_received')" required/>
                                        
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">Source</td>
                                <td class="col-md-10">
                                    <div>
                                        <!-- <select id="form_source" data-ng-model="form.source" data-ng-change="sources_changed()" style="width:100%;" ng-class="formerror.source" ng-change="clearerror('source')" required>
                                            <option ng-repeat="(k, v) in data.sources" value="{{v.pk}}">{{ v.source }}</option>
                                        </select> -->
                                        <div
                                            isteven-multi-select
                                            input-model="data.sources"
                                            output-model="form.source"
                                            button-label="icon name"
                                            item-label="icon name maker"
                                            tick-property="ticked"
                                            selection-mode="single"
                                            style="width:295px;"
                                            ng-class="formerror.source"
                                            max-height="200px"
                                        >
                                        </div>
                                        
                                    </div>
                                    <div ng-if="details.otheroptions" style="margin-top: 5px;">
                                        Other Source: <input type="text" class="form-control ng-pristine ng-valid ng-touched input-boxes" required/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">Last Name</td>
                                <td class="col-md-5">
                                    <div>
                                        <input type="text" maxlength="50" data-ng-model="form.last_name" class="form-control ng-pristine ng-valid ng-touched input-boxes" ng-class="formerror.last_name" ng-change="clearerror('last_name')" ng-blur="check_duplicates()" required/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">First Name</td>
                                <td class="col-md-5">
                                    <div>
                                        <input type="text" maxlength="50" data-ng-model="form.first_name" class="form-control ng-pristine ng-valid ng-touched input-boxes" ng-class="formerror.first_name" ng-change="clearerror('first_name')" ng-blur="check_duplicates()" required/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">Middle Name</td>
                                <td class="col-md-5">
                                    <div>
                                        <input type="text" maxlength="50" data-ng-model="form.middle_name" class="form-control ng-pristine ng-valid ng-touched input-boxes" ng-class="formerror.middle_name" ng-change="clearerror('middle_name')" ng-blur="check_duplicates()" required/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">Birth Date</td>
                                <td class="col-md-5">
                                    <div>
                                        <!-- <input id="form_birthdate" type="text" maxlength="50" data-ng-model="data.form.birthdate" class="form-control ng-pristine ng-valid ng-touched input-boxes" /> -->
                                        <input data-ng-model="form.birthdate" type="text" class="form-text mask-placeholder" placeholder="__/__/____" ng-class="formerror.birthdate" ng-change="clearerror('birthdate')" ng-blur="check_duplicates()" style="width:120px;" required>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">Mobile Number</td>
                                <td class="col-md-5">
                                    <div>
                                        <input data-ng-model="form.contact_number" type="text" class="form-text mask-phone" placeholder="0000-000-0000" ng-class="formerror.contact_number" ng-change="clearerror('contact_number')" style="width:120px;" required>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">Email Address</td>
                                <td class="col-md-5">
                                    <div>
                                        <input data-ng-model="form.email_address" class="form-control ng-pristine ng-valid ng-touched input-boxes" type="text" class="form-text" ng-class="formerror.email_address" ng-change="clearerror('email_address')" required>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">CV</td>
                                <td>

                                    <!-- <div class="fileupload">
                                        <div class="left">
                                            <input type="file" file-model="myFile" ng-model="cv" />
                                        </div>
                                        <div class="right">
                                            <input type="button" class="btn btn-info" value="UPLOAD" ng-click="uploadFile()">
                                        </div>
                                    </div> -->
                                    <!-- <form name="myForm">
                                        <fieldset> -->
                                    <div class="fileupload">
                                        <div class="left">
                                            <input type="file" 
                                                ngf-select 
                                                ng-model="picFile" 
                                                name="file"
                                                ngf-pattern="'.pdf,.jpg,.doc,.docx,.odt'"
                                                ngf-max-size="10MB" 
                                                required
                                                ngf-model-invalid="errorFiles"
                                            >
                                            <i ng-show="myForm.file.$error.maxSize">File too large 
                                                {{errorFiles[0].size / 1000000|number:1}}MB: max 10M</i>
                                            
                                        </div>
                                        <div class="right">
                                            <input type="button" class="btn btn-info" value="UPLOAD" ng-click="uploadPic(picFile)" />
                                            <span ng-show="picFile.result">Upload Successful</span>
                                            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                                        </div>
                                    </div>
                                        <!-- </fieldset>
                                        <br>
                                    </form> -->
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">Profiled for</td>
                                <td class="col-md-5">
                                    <div>                                    
                                        <!-- <select id="form_profiled_for" data-ng-model="form.profiled_for" style="width:100%;" ng-class="formerror.profiled_for" ng-change="clearerror('profiled_for')" required>
                                            <option ng-repeat="(k, v) in data.jobpositions" value="{{v.pk}}">{{ v.position }}</option>
                                        </select> -->
                                        <div
                                            isteven-multi-select
                                            input-model="data.jobpositions"
                                            output-model="form.profiled_for"
                                            button-label="icon name"
                                            item-label="icon name maker"
                                            tick-property="ticked"
                                            selection-mode="single"
                                            style="width:295px;"
                                            ng-class="formerror.source"
                                            max-height="200px"
                                        >
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">Client</td>
                                <td class="col-md-5">
                                    <div>
                                        <!-- <select id="form_client" data-ng-model="form.client" style="width:100%;" ng-class="formerror.client" ng-change="clearerror('client')" required>
                                            <option ng-repeat="(k, v) in data.clients" value="{{v.pk}}">{{ v.client }}</option>
                                        </select> -->
                                        <div
                                            isteven-multi-select
                                            input-model="data.clients"
                                            output-model="form.client"
                                            button-label="icon name"
                                            item-label="icon name maker"
                                            tick-property="ticked"
                                            selection-mode="single"
                                            style="width:295px;"
                                            ng-class="formerror.source"
                                            max-height="200px"
                                        >
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">Talent Acquisition</td>
                                <td class="col-md-10">
                                    <div>
                                        <!-- <select id="form_talent_acquisition" data-ng-model="form.talent_acquisition" style="width:100%;" ng-class="formerror.talent_acquisition" ng-change="clearerror('talent_acquisition')" required>
                                            <option ng-repeat="(k, v) in data.talent_acquisitions" value="{{v.employee_id}}">{{ v.first_name + " " + v.last_name }}</option>
                                        </select> -->
                                        <div
                                            isteven-multi-select
                                            input-model="data.talent_acquisitions"
                                            output-model="form.talent_acquisition"
                                            button-label="icon name"
                                            item-label="icon name maker"
                                            tick-property="ticked"
                                            selection-mode="single"
                                            style="width:295px;"
                                            ng-class="formerror.source"
                                            max-height="200px"
                                        >
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">Tags</td>
                                <td class="col-md-10">
                                    <tags-input ng-model="form.tags" 
                                                display-property="name" 
                                                placeholder="Add a tag" 
                                                template="my-custom-template">
                                    </tags-input>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="width: 30%; float: left;">
                    <div class="tab-content">
                        <div id="right-menu-user" class="tab-pane fade in active">
                            <div class="col-md-12" ng-if="duplicates.length > 0">
                                <h4 style="color:#ba0000;">Found {{duplicates.length}} matching candidates</h4>
                                <ul class="nav nav-list">
                                    <li ng-repeat="(k, v) in duplicates" ng-click="open_duplicate(k)" ng-class="v.status" style="cursor:pointer;">
                                        <!-- <a href="#/report/candidates"> -->
                                            <div class="name">
                                                <h5><b>{{ v.last_name }}, {{ v.first_name }} {{ v.middle_name }}</b></h5>
                                                <p>{{ v.birthdate }}</p>
                                            </div>
                                        <!-- </a> -->
                                    </li>
                                    <!-- <li nd-if="notifications.data.length == 0">
                                        <div class="name">
                                            <h5><b>No notifications</b></h5>
                                        </div>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-5">

                </div>
                <div class="col-md-7">            
                    <input type="submit" class="col-md-3 btn btn-warning" value="Reset" ng-click="reset()">
                    <input type="submit" class="col-md-3 btn btn-primary" value="Submit" ng-click="submit()">
                </div>
            </div>
        </div>
    </div>

    
</div>

<!-- end: content -->

<script type="text/javascript">
    $(document).ready(function(){
        //$('.datetime').bootstrapMaterialDatePicker({ format : 'dddd DD MMMM YYYY - HH:mm',animation:true});
        $('#form_date_received').bootstrapMaterialDatePicker({ format : 'YYYY-MM-DD HH:mm', animation:true, weekStart : 0, time: true });
        $('.dtp-close').hide();

        $('.mask-placeholder').mask("0000-00-00", {placeholder: "YYYY-MM-DD"});
        $('.mask-phone').mask('0000-000-0000');

        $("#form_source").select2({
            placeholder: "Select a Source",
            allowClear: false
        });

        $("#form_profiled_for").select2({
            placeholder: "Select a Job Position",
            allowClear: false
        });

        $("#form_client").select2({
            placeholder: "Select a Client",
            allowClear: false
        });

        $("#form_talent_acquisition").select2({
            placeholder: "Select a Talent Acquisition",
            allowClear: false
        });

        $("#my-awesome-dropzone").dropzone({ url: "./FUNCTIONS/Tracker/upload.php" }, function(data){
            console.log(data);
        });
    });
</script>

<script type="text/ng-template" id="CVModal">
    <div class="ngdialog-message" style="width: 500px;">
        <div style="margin-top: -15px;">
            <h3><span style="color:#0c79be;">{{ modal.title }}</span></h3>
        </div>
        <div>
            <p>{{modal.message}}</p>
        </div>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)">{{modal.close}}</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')">{{modal.save}}</button>
    </div>
</script>

<script type="text/ng-template" id="my-custom-template">
    <div class="tag-template">
        <div>
            <div style="float:left;">
                <span>{{$getDisplayText()}}</span>
            </div>
            <div style="float:left; padding-top: 3px;">
                <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
            </div>
        </div>
    </div>
</script>